@import url("https://fonts.googleapis.com/css?family=Russo+One");
* { box-sizing: border-box; font-family: 'Russo One', sans-serif; }

body { background: url("https://images.pexels.com/photos/1115680/pexels-photo-1115680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); background-size: cover; background-position: center; background-repeat: no-repeat; }

button { width: 40%; height: 50px; border-radius: 10px; display: block; text-align: center; margin: 5% 30%; background-color: #E0B84B; cursor: pointer; }

p { text-align: center; width: 60%; height: 100px; margin: 10% 20% 30% 20%; border: 2px solid none; border-radius: 10px; background-color: #D91537; padding: 20px; }
