

body { background-image: url("https://images.pexels.com/photos/12211/pexels-photo-12211.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 600px; margin: 0 auto; }

button { width: 100px; height: 50px; border-radius: 10px; display: block; text-align: center; margin: 100px auto; background-color: white; }

p { text-align: center; width: 400px; height: 60px; border: 2px solid none; border-radius: 10px; background-color: #3494d8; padding: 10px; }
